html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, serif;
  font-size: 1.6rem;
  background-color: rgba(8, 8, 8, 0.877);
  color: #fff;
}

.container {
  max-width: 50rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 1.2rem;
}

img {
  margin-bottom: 0.8rem;
}

ul {
  width: 25rem;
}

h2 {
  margin-bottom: 0.8rem;
}

ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 0.8rem;
  display: flex;
}

ul li span {
  flex-basis: 50%;
}

div img {
  border-radius: 0.8rem;
}

@media only screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    height: unset;
  }
}
