html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, serif;
  font-size: 1.6rem;
  background-color: rgba(8, 8, 8, 0.877);
  color: #fff;
}

.container {
  max-width: 50rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 1.2rem;
  display: flex;
  gap: 2rem;
  height: 20rem;
}
ul {
  width: 25rem;
}

ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 0.6rem;
  display: flex;
}

ul li span {
  flex-basis: 50%;
}

ul a {
  text-decoration: none;
  color: #dddddd7a;
}

div img {
  border-radius: 0.8rem;
}
